*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background: #fff url(../img/bg-tile.png);
    font-family: "default-gothic",sans-serif;
    color: #222;
}
a{
    text-decoration: none;
    font-family: Georgia, serif;
    color: #fff;
}
h1,h2,h3 {
  font-family: "vinyl",sans-serif;
}
.vizContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation {
    background: #EA446A;
    color: #fff;
    width: 100%;
    min-width: 640px;
    height: 38px;
    position: absolute;
    z-index: 51;
    top:0;
    left:0;
    /*border-bottom: 2px solid #ccc;*/
    -moz-box-shadow: 0 1px 2px 1px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,.3);
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.3);
}
.navigation ul {
    margin: 0 auto;
    list-style: none;
    text-align: right;
    float: right;
    width: 200px;
    min-width: 200px;
    font-size: .8em;
    padding: 11px 40px 0 0;
}
.navigation ul li {
    width: 80px;
    float: right;
}
.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1024px;
    min-height: 600px;
}
.intro {
    width: 480px;
    border-radius: 5px;
    margin: 100px auto;
}

::selection {
    background: transparent; 
}

::-moz-selection {
    background: transparent; 
}

/* DEMO 2 */
.filters {
    position: absolute;
    top: 38px;
    width: 100%;
    min-width: 1024px;
    height: 37px;
    background: #7FA764;
    z-index: 50;
    -moz-box-shadow: 0 1px 2px 1px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,.3);
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.3);
}
.wrapper-dropdown {
    /* Size and position */
    position: relative; /* Enable absolute positionning for children and pseudo elements */
    width: 140px;
    padding: 10px 15px;
    /*margin: 0 20px;*/
    float: left;
    /* Styles */
    background: #333;
    color: #fff;
    border-left: 5px solid #ccc;
    cursor: pointer;
    outline: none;
}
.wrapper-search {
    position: relative; /* Enable absolute positionning for children and pseudo elements */
    width: 200px;
    padding: 5px;
    /*margin: 0 20px;*/
    float: left;
    /* Styles */
    background: #333;
    color: #fff;
    border-left: 5px solid #ccc;
    outline: none;
    height: 37px;
}

.submitSearch {
    margin-left: 15px;
    padding: 0 8px 1px 8px;
    border-radius: 5px;
    color: #cdcdcd;
    border: 2px solid #bbb;
    cursor: pointer;
}

input[type=text] {
    margin-left: 5px;
    padding: 3px;
    background: #bbb;
    height: 28px;
    border: none;
    width: 120px;
    color: #222;
    font-family: 'default-gothic', sans-serif;
    font-size: 1.2em;
}
::-webkit-input-placeholder {
   color: #888;
}

:-moz-placeholder { /* Firefox 18- */
   color: #888;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #888; 
}

:-ms-input-placeholder {  
   color: #888; 
}

.wrapper-dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: grey transparent;
}

.wrapper-dropdown .dropdown {
  /* Size & position */
    position: absolute;
    top: 100%;
    left: -5px;
    right: 0px;

    /* Styles */
    background: #333;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown .dropdown li a {
    display: block;
    text-decoration: none;
    color: #fff;
    border-left: 5px solid;
    padding: 10px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; 
    border-left-color: #ccc;
    font-family: 'default-gothic', sans-serif;
}

.wrapper-dropdown .dropdown li i {
    margin-right: 5px;
    color: #fff;
}

/* Hover state */

.wrapper-dropdown .dropdown li:hover a {
    background: #555;
}

/* Active state */

.wrapper-dropdown.active:after {
    border-width: 0 6px 6px 6px;
}

.wrapper-dropdown.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

.progress-meter .meter-background {
    fill: #222;
}
  
.progress-meter .meter-foreground {
    fill: rgba(219, 222, 239,.5);
}
  
.helpButton {
    width: 48px;
    padding:5px;
    font-size: 2em;
    text-align: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #fff;
    border-radius: 10px;
    background:#ed3e69;
    z-index: 9996;
    cursor: pointer;
}
.helpArea {
    display: none;
    z-index: 9997;
    background: #333;
    background: rgba(20,20,20,0.9);
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.helpArea .content {
    width: 960px;
    margin: 0 auto;
}
.helpArea .content h1 {
    margin-top: 100px;
    font-size: 3em;
}
.helpArea .content p {
    margin-top: 20px;
    font-size: 1.5em;
}
.filters > h2 {
    float: left;
    margin: 5px 10px;
}
.challengeInfo {
    height: 38px;
    position: absolute;
    overflow: hidden;
    top: 75px;
    /*right: 0;*/
    width: 100%;
    min-width: 1024px;
    background: #1884A8;
    color: #fff;
    z-index: 49;
    -moz-box-shadow: 0 1px 2px 1px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,.3);
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.3);
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
}
.challengeInfo img {
    float: left;
    padding-top: 2px;
}
.challengeInfo h2 {
    float: left;
    padding: 5px;
}
.challengeInfo ul {
    display: none;
    list-style-type: none;
    position: absolute;
    top: 40px;
    margin-left:35px;
}
.mission1 {
    left: 0;
}
.mission2 {
    left: 200px;
}
.mission3 {
    left: 400px;
}
.mission4 {
    left: 600px;
}
.challengeInfo ul li {
    padding: 5px;
    width: 200px;
    font-size: 1.2em;
    cursor: pointer;
}
.challengeInfo ul li.missionTitle {
    color: #0D4659;
    font-size: 1.6em;
    font-family: 'vinyl', sans-serif;
}

.challengeDropdown {
    height: 500px;
}
.navigation h2 {
    padding: 5px 10px;
    color: #eee;
    float: left;
}
.el_grupo {
    display: none;
}
.displayInfo {
    display: none;
    position: relative;
    border-radius: 5px;
    width: 640px;
    padding: 10px;
    background: #333;
    background: rgba(20,20,20,.8);
    color: #eee;
    margin: 0 auto;
    margin-top: 130px;
}
.displayInfo p {
    padding: 10px;
    color: #fff;
}
.displayInfo .viewComments {
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    border-radius: 10px;
    background:#ed3e69;
    width: 120px;
}
.displayInfo a {
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
}
.challengeLink {
    cursor: pointer;
}
h2.currentViz {
    color: #7E0C28;
    text-shadow: 1px 1px 1px rgba(250,250,250,.5);
}
.rotateNinety {
    transform:rotate(270deg);
    -ms-transform:rotate(270deg); 
    -moz-transform:rotate(270deg); 
    -webkit-transform:rotate(270deg);
    -o-transform:rotate(270deg);
}

.defaultCircle {
    fill: rgba(200,200,200,0.5);
    stroke: rgba(0,0,0,0.7);
    stroke-width: 4;
}

.userMessage {
    display: none;
    top: 300px;
    position: relative;
    font-size: 2em;
    width: 480px;
    margin: 0 auto;
}

.filterList {
    position: absolute;
    left: 0;
    bottom: 0;
}
.filterList p {
    float: left;
    font-size: 1.5em;
    padding: 5px 15px;
    color: #ADCC8C;
    color: rgba(173, 204, 140, .8);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.filterList p:hover {
    color: #333;
    color: rgba(20,20,20,.6);
    cursor:url(../img/remove.png) 16 16,default;
}
.activeFilter {
    color: #ADCC8C;
}